@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.work_sans_fonts{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.display_flex{
    display: flex;
}
/* dark 01 */
.text_black{
    color: #131313;
}
/* dark 02 */
.text_gray{
    color: #424242;
}

/* dark 03 */
.text_light_gray{
    color: #727272;
}

.bg_light{
    background-color: rgba(255, 144, 14, 0.1);
}

/* header styles start here */

/* navbar related styles start here */
.navbar{
justify-content: space-between;
}
.nav_list{
    list-style: none;
    margin-right: 40px;
}

.nav_link{
    text-decoration: none;
    font-weight: 500;
}

.navbar, .banner{
    /* max-width: 1440px; */
    max-width: 85%;
    margin: 0 auto;
}
/* navbar related styles end here */


/* header styles end here */