@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.work_sans_fonts {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared styles */
.display_flex {
    display: flex;
}


.text_primary {
    color: #FF900E;
}

/* dark 01 */
.text_black {
    color: #131313;
}

/* dark 02 */
.text_gray {
    color: #424242;
}

/* dark 03 */
.text_light_gray {
    color: #727272;
}

.bg_light {
    background-color: rgba(255, 144, 14, 0.1);
}

main {
    max-width: 85%;
    margin: 0 auto;
}

main>section {
    margin-top: 130px;
}

.btn_primary {
    background-color: #FF900E;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 25px;
    border: none;
    border-radius: 8px;
}

.section_title {
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 24px;
}

/* header styles start here */

/* navbar related styles start here */
.navbar {
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
}

.brand {
    font-weight: 700;
    font-size: 2.8rem;
}

.nav_list {
    list-style: none;
    margin-right: 40px;
}

.nav_link {
    text-decoration: none;
    font-weight: 500;
}

.navbar,
.banner {
    /* max-width: 1440px; */
    max-width: 85%;
    margin: 0 auto;
}

/* navbar related styles end here */

/* banner section start here */
/*! .banner{
    display: flex;
    flex-direction: column;
    gap: 100px;
} */
.banner_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner_title {
    font-size: 4rem;
    font-weight: 700;
}

.banner_description {
    line-height: 26px;
}

.banner_image {
    width: 100%;
}

/* banner section end here */

/*! header styles end here */

/* ! main section start here */

/* teams and features section start here */
.teams {
    align-items: center;
    justify-content: space-between;
}

.team_img_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    /* max-width: 700px; */
    /* max-height: 700px; */

}

.team_img_container img {
    width: 100%;
}

.our_features {
    margin-left: 130px;
    max-width: 530px;
}


#quick_list {
    font-weight: 500;
}

.feature_description {
    line-height: 25px;
    margin-bottom: 24px;
}

/* teams and features section end here */

/* ! main section start here */

/*! responsive media query*/

/* Small device responsive */
@media screen and (max-width: 576px) {

    .navbar,
    .nav_li_menu,
    .teams {
        flex-direction: column;
    }

    .brand {
        font-weight: 700;
        font-size: 2rem;
    }

    .nav_list {
        list-style: none;
        margin-right: 30px;
        flex-direction: column;
    }

    .nav_li_menu {
        flex-direction: column;
        gap: 20px;
    }

    .banner_title {
        font-size: 2rem;
        font-weight: 700;
    }

    main > section {
        margin-top: 80px;
    }

    main {
        max-width: 98%;
        margin: 0 auto;
    }

    .team_img_container {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }

    .our_features {
        margin: 50px 10px;
        text-align: center;
    }
}

/* medium size device */
@media screen and (min-width: 577px) and (max-width: 992px) {
    .teams {
        flex-direction: column;
    }

    .our_features {
        margin: 50px 10px;
        text-align: center;
    }
}